################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Epicvin/FileContentIndex/152de5b1-7c6b-4f1b-9aee-1e6f0065a452.vsidx
